# Customer Segmentation with RFM *(Recency, Frequency, Monetary)* Analysis using FLO's Dataset

In [1]:
# Libraries
import pandas as pd
import datetime as dt

# Settings
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Task 1: 
Data Understanding and Preparation.

Step 1: Read the flo_data_20K.csv data. Make a copy of the dataframe.

In [2]:
df_ = pd.read_csv('flo_data_20k.csv')

In [3]:
df = df_.copy()

Step 2: Examine the following in the dataset:
1. The first 10 observations
2. Variable names
3. Shape
4. Descriptive statistics
5. Null value
6. Variable types

In [4]:
# 1. The first 10 observations
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.000,2.000,150.870,49.990,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.000,1.000,59.990,315.940,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.000,1.000,49.990,113.640,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.000,2.000,120.480,934.210,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.000,1.000,69.980,95.980,"[KADIN, AKTIFSPOR]"

In [5]:
# 2. Variable names
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [6]:
# 3. Shape
df.shape

(19945, 12)

In [7]:
# 4. Descriptive statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.000,3.111,4.226,1.000,1.000,2.000,4.000,200.000
order_num_total_ever_offline,19945.000,1.914,2.063,1.000,1.000,1.000,2.000,109.000
customer_value_total_ever_offline,19945.000,253.923,301.533,10.000,99.990,179.980,319.970,18119.140
customer_value_total_ever_online,19945.000,497.322,832.602,12.990,149.980,286.460,578.440,45220.130

In [8]:
# 5. Null value
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [9]:
# 6. Variable types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

Step 3: Omnichannel means that customers shop from both online and offline platforms. Create new variables for each customer's total purchases and spending.

In [10]:
# Total purchase
df['total_order_omnichannel'] = df['order_num_total_ever_online'] + df['order_num_total_ever_offline']
df['total_order_omnichannel'].head()

0    5.000
1   21.000
2    5.000
3    2.000
4    2.000
Name: total_order_omnichannel, dtype: float64

In [11]:
# Total spend
df['total_price_omnichannel'] = df['customer_value_total_ever_online'] + df['customer_value_total_ever_offline']
df['total_price_omnichannel'].head()

0    939.370
1   2013.550
2    585.320
3    121.970
4    209.980
Name: total_price_omnichannel, dtype: float64

Step 4: Examine the variable types. Change the type of variables that express date to date.

In [12]:
date_cols = df.columns[df.columns.str.contains('date')]
date_cols

Index(['first_order_date', 'last_order_date', 'last_order_date_online',
       'last_order_date_offline'],
      dtype='object')

In [13]:
df[date_cols] = df[date_cols].apply(pd.to_datetime)

In [14]:
df[['first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   first_order_date         19945 non-null  datetime64[ns]
 1   last_order_date          19945 non-null  datetime64[ns]
 2   last_order_date_online   19945 non-null  datetime64[ns]
 3   last_order_date_offline  19945 non-null  datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 623.4 KB

Step 5: See the distribution of the number of customers, total number of products purchased, and total spending across shopping channels.

In [15]:
df.groupby('order_channel').agg({'master_id': 'count', 
                                 'total_order_omnichannel': 'sum',
                                 'total_price_omnichannel': 'sum'})

               master_id  total_order_omnichannel  total_price_omnichannel
order_channel
Android App         9495                52269.000              7819062.760
Desktop             2735                10920.000              1610321.460
Ios App             2833                15351.000              2525999.930
Mobile              4882                21679.000              3028183.160

Step 6: Rank the top 10 customers with the highest revenue.

In [16]:
df.groupby('master_id').agg({'total_price_omnichannel': 'sum'}).sort_values('total_price_omnichannel', ascending=False)[:10]

                                      total_price_omnichannel
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f                45905.100
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f                36818.290
73fd19aa-9e37-11e9-9897-000d3a38a36f                33918.100
7137a5c0-7aad-11ea-8f20-000d3a38a36f                31227.410
47a642fe-975b-11eb-8c2a-000d3a38a36f                20706.340
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f                18443.570
d696c654-2633-11ea-8e1c-000d3a38a36f                16918.570
fef57ffa-aae6-11e9-a2fc-000d3a38a36f                12726.100
cba59206-9dd1-11e9-9897-000d3a38a36f                12282.240
fc0ce7a4-9d87-11e9-9897-000d3a38a36f                12103.150

Step 7: List the top 10 customers with the most orders.

In [17]:
df.groupby('master_id').agg({'total_order_omnichannel': 'sum'}).sort_values('total_order_omnichannel', ascending=False)[:10]

                                      total_order_omnichannel
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f                  202.000
cba59206-9dd1-11e9-9897-000d3a38a36f                  131.000
a57f4302-b1a8-11e9-89fa-000d3a38a36f                  111.000
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f                   88.000
329968c6-a0e2-11e9-a2fc-000d3a38a36f                   83.000
73fd19aa-9e37-11e9-9897-000d3a38a36f                   82.000
44d032ee-a0d4-11e9-a2fc-000d3a38a36f                   77.000
b27e241a-a901-11e9-a2fc-000d3a38a36f                   75.000
d696c654-2633-11ea-8e1c-000d3a38a36f                   70.000
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f                   70.000

Step 8: Functionalize the data preparation process.

In [18]:
df = df_.copy()

In [19]:
def data_prep(dataframe):
    dataframe['total_order_omnichannel'] = dataframe['order_num_total_ever_online'] + dataframe['order_num_total_ever_offline']
    dataframe['total_price_omnichannel'] = dataframe['customer_value_total_ever_online'] + dataframe['customer_value_total_ever_offline']
    date_cols = dataframe.columns[dataframe.columns.str.contains('date')]
    dataframe[date_cols] = dataframe[date_cols].apply(pd.to_datetime)
    return dataframe


df = data_prep(df)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order_omnichannel            19945 non-null  float64
 13  total_price_omnichannel            19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

# Task 2: 
Calculating RFM Metrics.

Step 1: Make the definitions of Recency, Frequency and Monetary. 
Note: You can select the analysis date 2 days after the maximum date to calculate the recency value.

In [21]:
# Max. last order date in the dataset
df['last_order_date'].max()

Timestamp('2021-05-30 00:00:00')

In [22]:
# Analysis Date: 2 days after maximum last order date (2021, 6, 1) 
analysis_date = dt.datetime(2021, 6, 1)
analysis_date

datetime.datetime(2021, 6, 1, 0, 0)

Step 2: Calculate the Recency, Frequency and Monetary metrics for the customer.
Step 3: Assign your calculated metrics to a variable named rfm.

In [23]:
# master_id: Customer ID
# Recency: analysis_date - last_order_date.max()
# Frequency: 'total_order_omnichannel'
# Monetary: 'total_price_omnichannel'

rfm = df.agg({'master_id': lambda id: id, 
              'last_order_date': lambda last_order: (analysis_date - last_order).days, 
              'total_order_omnichannel': lambda total_order: total_order, 
              'total_price_omnichannel': lambda total_price: total_price})

rfm.head()

,master_id,last_order_date,total_order_omnichannel,total_price_omnichannel
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95,5.000,939.370
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105,21.000,2013.550
2,69b69676-1a40-11ea-941b-000d3a38a36f,186,5.000,585.320
3,1854e56c-491f-11eb-806e-000d3a38a36f,135,2.000,121.970
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86,2.000,209.980

Step 4: Change the names of the metrics you created to recency, frequency and monetary (A new rfm dataframe with 'customer_id', 'recency', 'frequnecy' and 'monetary' values)

In [24]:
# Rename columns
rfm.columns = ['customer_id', 'recency', 'frequency', 'monetary']
rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95      5.000   939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105     21.000  2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f      186      5.000   585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f      135      2.000   121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86      2.000   209.980

# Task 3: 
Calculating RF and RFM Scores.

Step 1: Convert the Recency, Frequency and Monetary metrics to scores between 1-5 with the help of qcut(). 

Step 2: Save these scores as 'recency_score', 'frequency_score' and 'monetary_score'.

In [25]:
# Step 1 & Step 2:
# Recency Score
rfm['recency_score'] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])

# Frequency Score
rfm['frequency_score'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])

# Monetary Score
rfm['monetary_score'] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95,5.000,939.370,3,4,4
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105,21.000,2013.550,3,5,5
2,69b69676-1a40-11ea-941b-000d3a38a36f,186,5.000,585.320,2,4,3
3,1854e56c-491f-11eb-806e-000d3a38a36f,135,2.000,121.970,3,1,1
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86,2.000,209.980,3,1,1

Step 3: Express 'recency_score' and 'frequency_score' as a single variable and save it as RF_SCORE.

In [26]:
rfm['RF_SCORE'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str)
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95,5.000,939.370,3,4,4,34
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105,21.000,2013.550,3,5,5,35
2,69b69676-1a40-11ea-941b-000d3a38a36f,186,5.000,585.320,2,4,3,24
3,1854e56c-491f-11eb-806e-000d3a38a36f,135,2.000,121.970,3,1,1,31
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86,2.000,209.980,3,1,1,31

# Task 4: 
Segment Definition of RF Score.

Step 1: Segment definitions for RF scores.

In [27]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
    }

Step 2: Convert scores into segments.

In [28]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95,5.000,939.370,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105,21.000,2013.550,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,186,5.000,585.320,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,135,2.000,121.970,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86,2.000,209.980,3,1,1,31,about_to_sleep

# Task 5: 
Time for action!

Step 1: Examine the 'recency', 'frequency' and 'monetary' averages of the segments.

In [29]:
rfm.groupby('segment').agg({'recency': ['mean', 'count'], 
                            'frequency': ['mean', 'count'], 
                            'monetary': ['mean', 'count']})

                    recency       frequency       monetary
                       mean count      mean count     mean count
segment
about_to_sleep      113.785  1629     2.401  1629  359.009  1629
at_Risk             241.607  3131     4.472  3131  646.610  3131
cant_loose          235.444  1200    10.698  1200 1474.468  1200
champions            17.107  1932     8.934  1932 1406.625  1932
hibernating         247.950  3604     2.394  3604  366.267  3604
loyal_customers      82.595  3361     8.375  3361 1216.819  3361
need_attention      113.829   823     3.728   823  562.143   823
new_customers        17.918   680     2.000   680  339.956   680
potential_loyalists  37.156  2938     3.304  2938  533.184  2938
promising            58.921   647     2.000   647  335.673   647

Step 2: With the help of RFM analysis, find the customers in the relevant profile for the 2 cases given below and save the customer IDs as csv.

a. FLO includes a new women's shoe brand. The product prices of the brand it includes are above the general customer preferences. For this reason, it is desired to contact the customers in the profile that will be interested in the promotion of the brand and product sales.
Those who shop from their loyal customers (champions, loyal_customers) and women category are the customers to be contacted specifically. Save the id numbers of these customers to the csv file.

In [30]:
# Loyal customers: 'champions', 'loyal_customers'
loyal_customers_id = rfm[rfm['segment'].isin(['champions', 'loyal_customers'])]['customer_id']

In [31]:
# Target customers: Woman
target_customers_id = df[(df['master_id'].isin(loyal_customers_id)) & (df['interested_in_categories_12'].str.contains('KADIN'))]['master_id']
target_customers_id.shape

(2497,)

In [32]:
# Export as csv file
target_customers_id.to_csv('target_customers_id.csv', index=False)

b. Nearly 40% discount is planned for Men's and Children's products. It is aimed to specifically target customers who are good customers in the past, but who have not shopped for a long time, who are interested in the categories related to this discount, who should not be lost, those who are asleep and new customers. Save the ids of the customers in the appropriate profile to the csv file.

In [33]:
# Good customers: 'new_customer', 'hibernating', 'cant_loose'
good_customers_id = rfm[rfm['segment'].isin(['new_customer', 'hibernating', 'cant_loose'])]['customer_id']

In [34]:
# Target customers for discount: Man, child
discount_customers_id = df[(df['master_id'].isin(good_customers_id)) & ((df['interested_in_categories_12'].str.contains('ERKEK')) | (df['interested_in_categories_12'].str.contains('COCUK')))]['master_id']
discount_customers_id.shape

(2594,)

In [35]:
# Export as csv file
discount_customers_id.to_csv('discount_customers_id.csv', index=False)

# Task 6: 
Functionalize the whole process.

In [36]:
df = df_.copy()

In [37]:
def rfm_analysis(dataframe, csv=False):
    # Data Preperation
    dataframe['total_order_omnichannel'] = dataframe['order_num_total_ever_online'] + dataframe['order_num_total_ever_offline']
    dataframe['total_price_omnichannel'] = dataframe['customer_value_total_ever_online'] + dataframe['customer_value_total_ever_offline']
    date_cols = dataframe.columns[dataframe.columns.str.contains('date')]
    dataframe[date_cols] = dataframe[date_cols].apply(pd.to_datetime)

    # Calculating RFM Metrics
    dataframe['last_order_date'].max() # Timestamp('2021-05-30 00:00:00') 
    analysis_date = dt.datetime(2021, 6, 1)

    rfm = df.agg({'master_id': lambda id: id, 
                  'last_order_date': lambda last_order: (analysis_date - last_order).days, 
                  'total_order_omnichannel': lambda total_order: total_order, 
                  'total_price_omnichannel': lambda total_price: total_price})

    rfm.columns = ['customer_id', 'recency', 'frequency', 'monetary'] # Rename columns

    # Calculating RF Scores
    rfm['recency_score'] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm['frequency_score'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])
    rfm['monetary_score'] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])
    rfm['RF_SCORE'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str)
    rfm['RFM_SCORE'] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str) + rfm['monetary_score'].astype(str))
    
    # Segmentation
    seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_Risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
         r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }
    rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

    if csv: 
        rfm.to_csv('rfm.csv') 
    return rfm[['customer_id', 'recency', 'frequency', 'monetary', 'RF_SCORE', 'RFM_SCORE', 'segment']]


rfm_analysis(df, csv=False)[:10]

,customer_id,recency,frequency,monetary,RF_SCORE,RFM_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95,5.000,939.370,34,344,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105,21.000,2013.550,35,355,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,186,5.000,585.320,24,243,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,135,2.000,121.970,31,311,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86,2.000,209.980,31,311,about_to_sleep
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,80,3.000,200.860,42,421,potential_loyalists
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,226,4.000,375.930,23,232,at_Risk
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,293,2.000,163.630,11,111,hibernating
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,86,5.000,1054.690,34,345,loyal_customers
9,1143f032-440d-11ea-8b43-000d3a38a36f,240,2.000,165.960,11,111,hibernating